<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/test.css') }}">
</head>
<body>
    <h1>YOOO {{horizontal}}</h1>

<div class="board ">
<div class="row1 flex">
{% for i in range(0,horizontal)%} 
<div class="box"></div>
{% endfor %}
</div>
<div class="row2 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row3 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row4 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row5 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row6 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row7 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
<div class="row7 flex">
    {% for i in range(0,horizontal)%} 
    <div class="box"></div>
    {% endfor %}
</div>
</div>
</body>
</html>